src/app/serviceeligibility-core-api/app/src/main/resources/xsd/annulation_accreditation/getAnnulationAccreditation_out.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2012 (http://www.altova.com)  -->
<xs:schema
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:commun="http://norme.cegedimassurances.com/commun"
	xmlns="http://norme.cegedimassurances.com/annulation_accreditation"
	targetNamespace="http://norme.cegedimassurances.com/annulation_accreditation"
	xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
	xmlns:inheritance="http://jaxb2-commons.dev.java.net/basic/inheritance"
    jaxb:extensionBindingPrefixes="inheritance" jaxb:version="2.1" elementFormDefault="qualified">

	<xs:import namespace="http://norme.cegedimassurances.com/commun" schemaLocation="../commun/type_header_out.xsd"/>
	<xs:import namespace="http://norme.cegedimassurances.com/commun" schemaLocation="../commun/type_codeReponse.xsd"/>
	<xs:include schemaLocation="type_reponse_annulation.xsd"/>
	<xs:complexType name="getAnnulationAccreditation_out">
		<xs:annotation>
			<xs:appinfo>
				<inheritance:implements>com.cegedimactiv.norme.fsiq.api.ReponseWsFsiq</inheritance:implements>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="header_out" type="commun:type_header_out" minOccurs="0" maxOccurs="1"/>
			<xs:element name="codeReponse" type="commun:type_codeReponse" minOccurs="0" maxOccurs="1"/>
			<xs:element name="reponseAnnulation" type="type_reponse_annulation" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
    </xs:complexType>
</xs:schema>
