src/app/serviceeligibility-core-api/app/src/main/resources/xsd/commun/reponse_commun.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:commun="http://norme.cegedimassurances.com/commun"  targetNamespace="http://norme.cegedimassurances.com/commun" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:inheritance="http://jaxb2-commons.dev.java.net/basic/inheritance" jaxb:extensionBindingPrefixes="inheritance"
elementFormDefault="qualified">
	<xs:include schemaLocation="type_codeReponse.xsd"/>
	<xs:include schemaLocation="type_header_out.xsd"/>
	<xs:complexType name="reponse_commun">
		<xs:annotation>
			<xs:appinfo>
				<inheritance:implements>com.cegedimactiv.norme.fsiq.api.ReponseWsFsiq</inheritance:implements>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="header_out" minOccurs="1" maxOccurs="1" type="commun:type_header_out"/>
			<xs:element name="code_reponse" minOccurs="1" maxOccurs="1" type="commun:type_codeReponse"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
