src/app/serviceeligibility-core-api/app/src/main/resources/xsd/commun/type_header_out.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:commun="http://norme.cegedimassurances.com/commun" targetNamespace="http://norme.cegedimassurances.com/commun" elementFormDefault="qualified">
	<xs:complexType name="type_header_tech_out">
		<xs:annotation>
			<xs:documentation>entete technique de la requete</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="id_serveur" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>serveur de traitement - delivré par le serveur 
        			</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="14"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="date" type="xs:dateTime" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>timestamp</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="id_session_serveur" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>empreinte serveur et gestion de contexte cote serveur
        			</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="36"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="id_session_client" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>identifiant client retourne dans la reponse si fourni dans la question
        			</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="36"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="type_transaction" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>mode de transaction synchrone (blanc ou 0) ou asynchrone (1)
        			</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="1"/>
						<xs:enumeration value=" "/>
						<xs:enumeration value="0"/>
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="version_serveur" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>version du logiciel serveur</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="15"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="type_header_fonctionnel_out">
		<xs:annotation>
			<xs:documentation>entete fonctionnelle</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="code_contexte" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>nom du service invoque</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="version" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>version du service invoque
        			</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="num_accreditation" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>numero d'accréditation codifie de la maniere suivante :                             
- Code Proprietaire - 2 caracteres
- Type - 1 caractere ( D - droits ou M - montants)
- Id unique sur le serveur - 12 caractres.
- Serveur d'origine - 1 caractere.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="16"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="idDossier" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identifiant de dossier ouvert cote serveur (uuid) - utilisé pour la persistance de session lors d'enchainement de processus metiers</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="36"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="num_OTP" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>OTP (One-time password) mot de passe valable pour une session ou une transaction
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="8"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="type_header_out">
		<xs:annotation>
			<xs:documentation>entete de la requete</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="headerTech" type="commun:type_header_tech_out" minOccurs="1" maxOccurs="1"/>
			<xs:element name="headerFonc" type="commun:type_header_fonctionnel_out" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
