src/app/serviceeligibility-core-api/app/src/main/resources/xsd/commun/type_header_in.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:commun="http://norme.cegedimassurances.com/commun" targetNamespace="http://norme.cegedimassurances.com/commun" elementFormDefault="qualified">
	<xs:complexType name="type_header_tech_in">
		<xs:annotation>
			<xs:documentation>entete technique de la requete</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="id_logiciel_client">
				<xs:annotation>
					<xs:documentation>identifiant du logiciel client
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="36"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="version_logiciel_client">
				<xs:annotation>
					<xs:documentation>version du logiciel client </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="15"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="id_session_client" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>>identifiant retourné dans la reponse si fourni dans la question</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="36"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="id_session_serveur" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>identifiant delivre par le serveur. Il permet la reutilisation d'une session.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="36"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="mode_asynchrone" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>0 ou blanc = mode synchrone 1 = activation du mode Asynchrone. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="replyto_endPoint" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>url pour reponse asynchrone	(http,jms,file,mail,...). Non utilise en mode d'echange synchrone.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="65"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="type_header_fonctionnel_in">
		<xs:annotation>
			<xs:documentation>entete fonctionnelle</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="code_contexte" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation> Code contexte
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="delivrance_accreditation" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Top de gestion de demande de numero d'accreditation
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:enumeration value="0"/>
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
						<xs:enumeration value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="delivrance_otp" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Top de gestion de demande de numero d'OTP
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:enumeration value="0"/>
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="version" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>version du code contexte. Cette donnee est facultative
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="idDossier" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identifiant dossier eventuellement fourni par le	serveur lors du premier echange et permettant d'assurer la persistance du contexte initial lors d'un enchainement d'echanges (par exemple pour la tarification en ligne)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="36"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="num_OTP" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identifiant OTP</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="8"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="code_proprietaire" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>code du proprietaire du service ( AMC, operateur,...)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="8"/>
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="code_gestionnaire" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identifiant de l'OCT ou du réseau </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="8"/>
						<xs:maxLength value="14"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="type_header_in">
		<xs:annotation>
			<xs:documentation>entete de la requete</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="headerTech" type="commun:type_header_tech_in" minOccurs="1" maxOccurs="1"/>
			<xs:element name="headerFonc" type="commun:type_header_fonctionnel_in" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
