src/app/serviceeligibility-core-api/app/src/main/resources/xsd/commun/type_dates.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
xmlns:commun="http://norme.cegedimassurances.com/commun" 
targetNamespace="http://norme.cegedimassurances.com/commun" elementFormDefault="qualified">
	<xs:complexType name="type_dates">
		<xs:sequence>
			<xs:element name="date_reference" type="xs:date" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Date de référence utilisée pour la recherche</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="type_date_reference" default="0" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>	0 : Date du jour 
										1 : Date début de soins ou date d'entrée
										2 : Date de prescription
										3 : Date de facturation pour le officines
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:totalDigits value="1"/>
						<xs:enumeration value="0"/>
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
						<xs:enumeration value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			 <xs:element name="date_debut" type="xs:date" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
						</xs:documentation>
					</xs:annotation>
				</xs:element>
			 <xs:element name="date_fin" type="xs:date" minOccurs="0">
					<xs:annotation>
					<xs:documentation>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
