src/app/serviceeligibility-core-api/app/src/main/resources/xsd/abonnement/getAbonnement_out.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 2 (http://www.altova.com) by Philippe 
	(ca) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://norme.cegedimassurances.com/abonnement"
	xmlns:commun="http://norme.cegedimassurances.com/commun" targetNamespace="http://norme.cegedimassurances.com/abonnement"
	xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:inheritance="http://jaxb2-commons.dev.java.net/basic/inheritance"
	jaxb:extensionBindingPrefixes="inheritance" jaxb:version="2.1"
	elementFormDefault="qualified">
	<xs:import namespace="http://norme.cegedimassurances.com/commun" schemaLocation="../commun/type_header_out.xsd"/>
	<xs:import namespace="http://norme.cegedimassurances.com/commun" schemaLocation="../commun/type_codeReponse.xsd"/>
	<xs:include schemaLocation="type_reponse_abonnement.xsd" />
	<xs:include schemaLocation="type_requete_abonnement.xsd" />
	<xs:complexType name="getAbonnement_out">
		<xs:annotation>
			<xs:appinfo>
				<inheritance:implements>com.cegedimactiv.norme.fsiq.api.ReponseWsFsiq</inheritance:implements>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="header_out" minOccurs="1" maxOccurs="1" type="commun:type_header_out"/>
			<xs:element name="requeteAbonnement" type="type_requete_abonnement"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Image de la requête initiale - fournie si demandé
						dans la question
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="reponseAbonnement" type="type_reponse_abonnement"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Réponse à la demande d'abonnement
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="codeReponse" type="commun:type_codeReponse"
				minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Code et libellé anomalie</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
