src/app/serviceeligibility-core-api/app/src/main/resources/xsd/abonnement/getAbonnement_in.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 2 (http://www.altova.com) by Philippe 
	(ca) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://norme.cegedimassurances.com/abonnement"
	xmlns:commun="http://norme.cegedimassurances.com/commun" targetNamespace="http://norme.cegedimassurances.com/abonnement"
	xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" 
	xmlns:inheritance="http://jaxb2-commons.dev.java.net/basic/inheritance"
	jaxb:extensionBindingPrefixes="inheritance" jaxb:version="2.1"
	elementFormDefault="qualified">
	<xs:include schemaLocation="type_requete_abonnement.xsd" />
	<xs:import namespace="http://norme.cegedimassurances.com/commun" schemaLocation="../commun/type_header_in.xsd"/>
	<xs:complexType name="getAbonnement_in">
		<xs:annotation>
			<xs:appinfo>
				<inheritance:implements>com.cegedimactiv.norme.fsiq.api.RequeteWsFsiq</inheritance:implements>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="header_in" minOccurs="1" maxOccurs="1" type="commun:type_header_in"/>
			<xs:element name="requete_abonnement" type="type_requete_abonnement" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>
