src/app/serviceeligibility-core-api/app/src/main/resources/xsd/abonnement/reponse_abonnement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:commun="http://norme.cegedimassurances.com/commun"
	xmlns:abonnement="http://norme.cegedimassurances.com/abonnement"
	targetNamespace="http://norme.cegedimassurances.com/abonnement" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:inheritance="http://jaxb2-commons.dev.java.net/basic/inheritance" jaxb:extensionBindingPrefixes="inheritance"
	elementFormDefault="qualified">
	<xs:import namespace="http://norme.cegedimassurances.com/commun" schemaLocation="../commun/type_header_out.xsd"/>
	<xs:import namespace="http://norme.cegedimassurances.com/commun" schemaLocation="../commun/type_codeReponse.xsd"/>
	<xs:include schemaLocation="type_services.xsd"/>
	<xs:complexType name="reponse_abonnement">
		<xs:annotation>
			<xs:appinfo>
				<inheritance:implements>com.cegedimactiv.norme.fsiq.api.ReponseWsFsiq</inheritance:implements>
			</xs:appinfo>
		</xs:annotation>
	
		<xs:sequence>
			<xs:element name="header_out" minOccurs="1" maxOccurs="1" type="commun:type_header_out"/>
			<xs:element name="code_reponse" minOccurs="1" maxOccurs="1" type="commun:type_codeReponse"/>
			<xs:element name="services" minOccurs="1" maxOccurs="1" type="abonnement:type_services"/>
		</xs:sequence>
		
	</xs:complexType>
</xs:schema>