src/app/serviceeligibility-core-api/app/src/main/resources/xsd/tarification-prescription/getTarification_out.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 2 sp1 (http://www.altova.com)  -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://norme.cegedimassurances.com/tarification-prescription"  xmlns:commun="http://norme.cegedimassurances.com/commun" xmlns:tarification-prescription="http://norme.cegedimassurances.com/tarification-prescription" targetNamespace="http://norme.cegedimassurances.com/tarification-prescription" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:inheritance="http://jaxb2-commons.dev.java.net/basic/inheritance" jaxb:extensionBindingPrefixes="inheritance" jaxb:version="2.1" elementFormDefault="qualified">

	<xs:include schemaLocation="type_reponse_tarification.xsd"/>
	<xs:import namespace="http://norme.cegedimassurances.com/commun" schemaLocation="../commun/type_codeReponse.xsd"/>
	<xs:import namespace="http://norme.cegedimassurances.com/commun" schemaLocation="../commun/type_header_out.xsd"/>
	<xs:complexType name="getTarification_out">
	<xs:annotation>
			<xs:appinfo>
				<inheritance:implements>com.cegedimactiv.norme.fsiq.api.ReponseWsFsiq</inheritance:implements>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="header_out" type="commun:type_header_out" minOccurs="1" maxOccurs="1"/>
			<xs:element name="codeReponse" type="commun:type_codeReponse" minOccurs="1" maxOccurs="1"/>
			<xs:element name="reponseFacture" type="tarification-prescription:type_reponse_tarification" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
