src/app/serviceeligibility-core-api/app/src/main/resources/xsd/tarification-prescription/getTarification_in.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2012 (http://www.altova.com)  -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://norme.cegedimassurances.com/tarification-prescription"  xmlns:commun="http://norme.cegedimassurances.com/commun" targetNamespace="http://norme.cegedimassurances.com/tarification-prescription" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:inheritance="http://jaxb2-commons.dev.java.net/basic/inheritance" jaxb:extensionBindingPrefixes="inheritance" jaxb:version="2.1" elementFormDefault="qualified">

	<xs:import namespace="http://norme.cegedimassurances.com/commun" schemaLocation="../commun/type_header_in.xsd"/>
	<xs:include schemaLocation="type_requete_tarification.xsd"/>
	<xs:complexType name="getTarification_in">
		<xs:annotation>
			<xs:appinfo>
				<inheritance:implements>com.cegedimactiv.norme.fsiq.api.RequeteWsFsiq</inheritance:implements>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="header_in" type="commun:type_header_in" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						entête de la requête
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="requete_tarification" type="type_requete_tarification" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
