src/app/serviceeligibility-core-api/app/src/main/resources/xsd/tarification-prescription/type_reponse_prestation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 2 (http://www.altova.com) by giorgio GIORGI 
	(RESOPHARMA) -->
<xs:schema
	xmlns:tarification-prescription="http://norme.cegedimassurances.com/tarification-prescription"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://norme.cegedimassurances.com/tarification-prescription"
	targetNamespace="http://norme.cegedimassurances.com/tarification-prescription"
	elementFormDefault="qualified">
	<xs:include schemaLocation="type_out_prestation_lpp.xsd" />
	<xs:include schemaLocation="type_out_prestation_cip.xsd" />
	<xs:complexType name="type_reponse_prestation">
		<xs:sequence>
			<xs:element name="id_prestation">
				<xs:annotation>
					<xs:documentation>Numéro d'ordre de la prestation
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:totalDigits value="3" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="montant_pec">
				<xs:annotation>
					<xs:documentation>Montant PEC Groupe prestation
						Calculé par
						Tarification en ligne
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="7" />
						<xs:fractionDigits value="2" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="montant_rac">
				<xs:annotation>
					<xs:documentation>Montant RAC Groupe prestation
						Calculé par
						tarification en ligne
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="7" />
						<xs:fractionDigits value="2" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="code_ebs" minOccurs="0" maxOccurs="1">
			<xs:annotation>
                    <xs:documentation>Code garantie applicable</xs:documentation>
                </xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="type_out_prestation_cip"
				type="tarification-prescription:type_out_prestation_cip" minOccurs="0"
				maxOccurs="unbounded" />
			<xs:element name="type_out_prestation_lpp"
				type="tarification-prescription:type_out_prestation_lpp" minOccurs="0"
				maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>
