src/app/serviceeligibility-core-api/app/src/main/resources/xsd/tarification-prescription/type_out_prestation_cip.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 2 (http://www.altova.com) by giorgio GIORGI (RESOPHARMA) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://norme.cegedimassurances.com/tarification-prescription" xmlns:commun="http://norme.cegedimassurances.com/commun" targetNamespace="http://norme.cegedimassurances.com/tarification-prescription" elementFormDefault="qualified">
	<xs:include schemaLocation="type_codeReponse_prestation.xsd"/>
	<xs:complexType name="type_out_prestation_cip">
		<xs:sequence>
			<xs:element name="id_cip" type="xs:string">
				<xs:annotation>
					<xs:documentation>ID CIP</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="type_code_cip" type="xs:string">
				<xs:annotation>
					<xs:documentation>Type code CIP
7 ou 13</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="code_cip">
				<xs:annotation>
					<xs:documentation>Code CIP</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="7"/>
						<xs:maxLength value="13"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="quantite_pec">
				<xs:annotation>
					<xs:documentation>Quantité PEC
Calculé par tarification en ligne</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:totalDigits value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="montant_facture">
				<xs:annotation>
					<xs:documentation>Montant facturé</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="7"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="montant_pec">
				<xs:annotation>
					<xs:documentation>Montant PEC
Calculé par tarification en ligne</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="7"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="montant_rac">
				<xs:annotation>
					<xs:documentation>Montant RAC assuré
Calculé par tarification en ligne</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="7"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="type_codeReponse_prestation" type="type_codeReponse_prestation" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
