src/app/serviceeligibility-core-api/app/src/main/resources/xsd/carte/type_droitsCarteTP.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:carte="http://norme.cegedimassurances.com/carte" targetNamespace="http://norme.cegedimassurances.com/carte"
	elementFormDefault="qualified">
	<xs:include schemaLocation="type_depense.xsd"></xs:include>
	<xs:complexType name="type_droitsCarteTP">
		<xs:sequence>
			<xs:element name="rang_beneficiaire" minOccurs="0" maxOccurs="1" type="xs:string" />
			<xs:element name="prenom" minOccurs="0" maxOccurs="1" type="xs:string" />
			<xs:element name="nom" minOccurs="0" maxOccurs="1" type="xs:string" />
            <xs:element name="date_naissance" minOccurs="1" maxOccurs="1" >
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="8"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
			<xs:element name="nir" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="13" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="cle_nir" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="rang_gemellaire" minOccurs="1" maxOccurs="1" type="xs:int" />
			<xs:element name="code_qualite" minOccurs="0" maxOccurs="1" type="xs:string" />
			<xs:element name="code_produit" minOccurs="0" maxOccurs="1" type="xs:string" />
			<xs:element name="liste_garanties" type="carte:type_depense" minOccurs="0" maxOccurs="12" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>
