src/app/serviceeligibility-core-api/app/src/main/resources/base_de_droit.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:base_de_droit="http://norme.cegedimassurances.com/base_de_droit" xmlns:commun="http://norme.cegedimassurances.com/commun" xmlns:beneficiaire="http://norme.cegedimassurances.com/beneficiaire" xmlns:amc="http://norme.cegedimassurances.com/amc" targetNamespace="http://norme.cegedimassurances.com/base_de_droit"
           elementFormDefault="qualified">

    <xs:import namespace="http://norme.cegedimassurances.com/commun" schemaLocation="classpath://./xsd/commun/type_header_in.xsd"/>
    <xs:import namespace="http://norme.cegedimassurances.com/commun" schemaLocation="classpath://./xsd/commun/type_dates.xsd"/>
    <xs:import namespace="http://norme.cegedimassurances.com/beneficiaire" schemaLocation="classpath://./xsd/beneficiaire/type_beneficiaire_demandeur.xsd"/>
    <xs:import namespace="http://norme.cegedimassurances.com/amc" schemaLocation="classpath://./xsd/amc/type_amc.xsd"/>
    <xs:import namespace="http://norme.cegedimassurances.com/amc" schemaLocation="classpath://./xsd/amc/type_amc.xsd"/>



    <xs:element name="header_in" minOccurs="1" maxOccurs="1" type="commun:type_header_in"/>
    <xs:element name="beneficiaire" minOccurs="1" maxOccurs="1" type="beneficiaire:type_beneficiaire_demandeur"/>
    <xs:element name="amc" minOccurs="1" maxOccurs="1" type="amc:type_amc"/>
    <xs:element name="info_bdd" minOccurs="1" maxOccurs="1" type="base_de_droit:type_info_bdd"/>
    <xs:element name="dates" minOccurs="1" maxOccurs="1" type="commun:type_dates"/>

</xs:schema>