src/app/serviceeligibility-core-api/app/src/main/resources/xsd/base_de_droit/type_declarant.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:base_de_droit="http://norme.cegedimassurances.com/base_de_droit" 
targetNamespace="http://norme.cegedimassurances.com/base_de_droit" elementFormDefault="qualified">
	<xs:include schemaLocation="type_adresse.xsd"></xs:include>
	<xs:complexType name="type_declarant" abstract="true">
		<xs:sequence>
			<xs:element name="nom" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="libelle" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="siret" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="14"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="numero_prefectoral" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="declarant_niveau_2" minOccurs="0" maxOccurs="1" type="base_de_droit:type_declarant"/>
			<xs:element name="adresses" minOccurs="0" maxOccurs="unbounded" type="base_de_droit:type_adresse"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>