src/app/serviceeligibility-core-api/app/src/main/resources/xsd/ps/type_ps_demandeur.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:ps="http://norme.cegedimassurances.com/ps" targetNamespace="http://norme.cegedimassurances.com/ps"
	elementFormDefault="qualified">
	<xs:include schemaLocation="type_ps_identifiant.xsd" />
	<xs:complexType name="type_ps_demandeur">
		<xs:sequence>
			<xs:element name="identification_PS" type="ps:type_ps_identifiant"
				minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>identification utilisé pour la facturation
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nom" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="45" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="prenom" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="45" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="code_specialite" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Spécialité du PS définie par le GIE Sesam-vitale
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="2" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="code_activite" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="code_postal" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
