src/app/serviceeligibility-core-api/app/src/main/resources/xsd/ps/type_medecin_traitant.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 2 (http://www.altova.com) by giorgio GIORGI (RESOPHARMA) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ps="http://norme.cegedimassurances.com/ps" targetNamespace="http://norme.cegedimassurances.com/ps" elementFormDefault="qualified">
	<xs:include schemaLocation="type_ps_identifiant.xsd"/>
	<xs:complexType name="type_medecin_traitant">
		<xs:annotation>
			<xs:documentation>Informations concernant le prescripteur</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="identification_facturation_PS" type="ps:type_ps_identifiant" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identification du professionnel de santé</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="raison_sociale" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Nom ou raison sociale du médecin traitant</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="45"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="complement_raison_sociale" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Prénom ou complément raison sociale du médecin traitant</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="45"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
