src/app/serviceeligibility-core-api/app/src/main/resources/xsd/tarification/type_tarification_declarant_amc.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tarification="http://norme.cegedimassurances.com/tarification"
	targetNamespace="http://norme.cegedimassurances.com/tarification" elementFormDefault="qualified">
	<xs:complexType name="type_tarification_declarant_amc">
		<xs:sequence>
			<xs:element name="nom" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="numeroRNM" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="numeroPrefectoral" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="8" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>

	</xs:complexType>
</xs:schema>