src/app/serviceeligibility-core-api/app/src/main/resources/xsd/tarification/type_requete_annulation_pec.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tarification="http://norme.cegedimassurances.com/tarification" 
	targetNamespace="http://norme.cegedimassurances.com/tarification" elementFormDefault="qualified">
	<xs:complexType name="type_requete_annulation_pec">
		<xs:sequence>
			<xs:element name="id_prescription">
				<xs:annotation>
					<xs:documentation>Numéro d'ordre de la prescription</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:totalDigits value="9"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="numero_accreditation">
				<xs:annotation>
					<xs:documentation>Numéro de l'accréditation à annuler</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="16"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="total_prescription" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Total de la prescription</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="7"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="total_pec_prescription" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Total PEC de la prescription</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="7"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="total_rac_prescription" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Total RAC assuré prescription</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="7"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
