src/app/serviceeligibility-core-api/app/src/main/resources/xsd/tarification-prescription-chiffree/reponse_tarification.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tarification-prescription-chiffree="http://norme.cegedimassurances.com/tarification-prescription-chiffree" xmlns:commun="http://norme.cegedimassurances.com/commun"  targetNamespace="http://norme.cegedimassurances.com/tarification-prescription-chiffree"
elementFormDefault="qualified" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:inheritance="http://jaxb2-commons.dev.java.net/basic/inheritance" jaxb:extensionBindingPrefixes="inheritance">

	<xs:import namespace="http://norme.cegedimassurances.com/commun" schemaLocation="../commun/type_header_out.xsd"/>
	<xs:import namespace="http://norme.cegedimassurances.com/commun" schemaLocation="../commun/type_codeReponse.xsd"/>
	<xs:include schemaLocation="type_tarification_prescription.xsd"/>
	<xs:complexType name="reponse_tarification">
		<xs:annotation>
			<xs:appinfo>
				<inheritance:implements>com.cegedimactiv.norme.fsiq.api.ReponseWsFsiq</inheritance:implements>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="header_out" minOccurs="1" maxOccurs="1" type="commun:type_header_out"/>
			<xs:element name="code_reponse" minOccurs="1" maxOccurs="1" type="commun:type_codeReponse"/>
			<xs:element name="prescription_chiffree" minOccurs="0" maxOccurs="1" type="tarification-prescription-chiffree:type_tarification_prescription"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
