src/app/serviceeligibility-core-api/app/src/main/resources/xsd/tarification-prescription-chiffree/requete_tarification.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:commun="http://norme.cegedimassurances.com/commun" xmlns:tarification-prescription-chiffree="http://norme.cegedimassurances.com/tarification-prescription-chiffree"
 targetNamespace="http://norme.cegedimassurances.com/tarification-prescription-chiffree"  xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:inheritance="http://jaxb2-commons.dev.java.net/basic/inheritance" jaxb:extensionBindingPrefixes="inheritance"
elementFormDefault="qualified">

	<xs:import namespace="http://norme.cegedimassurances.com/commun" schemaLocation="../commun/type_header_in.xsd" />
	<xs:import namespace="http://norme.cegedimassurances.com/commun" schemaLocation="../commun/type_dates.xsd"/>
	<xs:include schemaLocation="type_tarification_prescription.xsd" />
	<xs:complexType name="requete_tarification">
		<xs:annotation>
			<xs:appinfo>
				<inheritance:implements>com.cegedimactiv.norme.fsiq.api.RequeteWsFsiq</inheritance:implements>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="header_in" minOccurs="1" maxOccurs="1" type="commun:type_header_in"/>
			<xs:element name="prescription_chiffree" minOccurs="1" maxOccurs="1" type="tarification-prescription-chiffree:type_tarification_prescription"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
