src/app/serviceeligibility-core-api/app/src/main/resources/xsd/carteDemat/type_parametre_formule.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://norme.cegedimassurances.com/carteDemat/beans"
	targetNamespace="http://norme.cegedimassurances.com/carteDemat/beans"
	elementFormDefault="qualified">


	<xs:complexType name="type_parametre_formule">
		<xs:annotation>
			<xs:documentation>Formule de prestations
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="numeroParametres">
				<xs:annotation>
					<xs:documentation>Numero de parametre
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="valeurParametres">
				<xs:annotation>
					<xs:documentation>Valeur du parametre
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="6" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
