src/app/serviceeligibility-core-api/app/src/main/resources/xsd/carteDemat/type_domaine_droits.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://norme.cegedimassurances.com/carteDemat/beans"
	targetNamespace="http://norme.cegedimassurances.com/carteDemat/beans"
	elementFormDefault="qualified">

	<xs:include schemaLocation="type_convention_domaine.xsd" />

	<xs:complexType name="type_domaine_droits">
		<xs:annotation>
			<xs:documentation>Domaine de droits couvert pour le contrat
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="codeDomaine">
				<xs:annotation>
					<xs:documentation>Code du domaine de droits</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1" />
						<xs:maxLength value="5" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="conventions" type="conventions" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="conventions">
		<xs:sequence>
			<xs:element name="convention" type="type_convention_domaine"
				minOccurs="0" maxOccurs="5" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>
