src/app/serviceeligibility-core-api/app/src/main/resources/xsd/carteDemat/type_convention_domaine.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://norme.cegedimassurances.com/carteDemat/beans"
	targetNamespace="http://norme.cegedimassurances.com/carteDemat/beans"
	elementFormDefault="qualified">


	<xs:complexType name="type_convention_domaine">
		<xs:annotation>
			<xs:documentation>Type de convention par domaine couvert
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="typeConventionnement" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Type de conventionnement
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1" />
						<xs:maxLength value="2" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="prioriteConventionnement" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Priorite de conventionnement
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1" />
						<xs:maxLength value="2" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
