src/app/serviceeligibility-core-api/app/src/main/resources/xsd/beneficiaire/type_beneficiaire_demandeur.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:beneficiaire="http://norme.cegedimassurances.com/beneficiaire" targetNamespace="http://norme.cegedimassurances.com/beneficiaire" elementFormDefault="qualified">
	<xs:complexType name="type_beneficiaire_demandeur">
		<xs:sequence>
			<xs:element name="NIR_certifie" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>N° INSEE du bénéficiaire</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="13"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="cle_NIR" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Clé INSEE bénéficiaire</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[0-9][0-9]"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="date_naissance" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Date de naissance du bénéficiaire au format SSAAMMJJ</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="8"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="rang_gemellaire" type="xs:int" default="1">
				<xs:annotation>
					<xs:documentation>Rang gemellaire de naissance du bénéficiaire (1 par défaut)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="INS_C" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Nouvel identifiant national de santé (réservé à une utilisation future)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="25"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="nom_beneficiaire" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="45"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="prenom_beneficiaire" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="45"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="qualite" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Qualité du bénéficiaire (parent, enfant, ...) </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
