schemas/soap/carteDematerialiseeV2.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://norme.cegedimassurances.com/carteDemat/beans" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://norme.cegedimassurances.com/carteDemat/beans" targetNamespace="http://norme.cegedimassurances.com/carteDemat/beans">
  <wsdl:types>
    <xs:schema xmlns="http://norme.cegedimassurances.com/carteDemat/beans" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://norme.cegedimassurances.com/carteDemat/beans"><xs:element name="carteDematerialiseeV2Request"><xs:complexType><xs:sequence><xs:element name="header_in" type="type_header_in"/><xs:element name="request" type="carteDematerialiseeType"/></xs:sequence></xs:complexType></xs:element><xs:element name="header_in" type="type_header_in"/><xs:complexType name="type_header_tech_in"><xs:annotation><xs:documentation>entete technique de la requete</xs:documentation></xs:annotation><xs:sequence><xs:element name="id_logiciel"><xs:annotation><xs:documentation>numero d'agrement du logiciel
					</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:maxLength value="36"/></xs:restriction></xs:simpleType></xs:element><xs:element name="version_logiciel"><xs:annotation><xs:documentation>version du logiciel</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:maxLength value="15"/></xs:restriction></xs:simpleType></xs:element><xs:element minOccurs="0" name="editeur_logiciel"><xs:annotation><xs:documentation>nom de l'editeur du logiciel
					</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:maxLength value="50"/></xs:restriction></xs:simpleType></xs:element><xs:element minOccurs="0" name="nom_logiciel"><xs:annotation><xs:documentation>nom du logiciel
					</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:maxLength value="50"/></xs:restriction></xs:simpleType></xs:element><xs:element minOccurs="0" name="id_session_client"><xs:annotation><xs:documentation>numero sequentiel de la
						demande. Ce numero permet
						d'identifier le flux technique et de detecter les doublons,
						attribue par l'emetteur
					</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:maxLength value="36"/></xs:restriction></xs:simpleType></xs:element><xs:element minOccurs="0" name="id_session_serveur"><xs:annotation><xs:documentation>identifiant delivre par le serveur. Il permet la
						reutilisation d'une session ouverte par un navigateur internet
					</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:maxLength value="36"/></xs:restriction></xs:simpleType></xs:element><xs:element name="nom_norme"><xs:annotation><xs:documentation>Nom de la norme d’échange "CARTEDEMAT"
					</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:maxLength value="10"/></xs:restriction></xs:simpleType></xs:element><xs:element name="version_norme"><xs:annotation><xs:documentation>Version de la norme d’échange. Permet de gérer
						plusieurs normes en parallèle, actuellement 1.0
					</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:maxLength value="10"/></xs:restriction></xs:simpleType></xs:element></xs:sequence></xs:complexType><xs:complexType name="type_header_fonctionnel_in"><xs:annotation><xs:documentation>entete fonctionnelle</xs:documentation></xs:annotation><xs:sequence><xs:element minOccurs="0" name="idDossier_client"><xs:annotation><xs:documentation>Identifiant de dossier, fourni par l'emetteur
					</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:maxLength value="36"/></xs:restriction></xs:simpleType></xs:element><xs:element minOccurs="0" name="idDossier_serveur"><xs:annotation><xs:documentation>Identifiant de dossier ouvert cote serveur
					</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:maxLength value="36"/></xs:restriction></xs:simpleType></xs:element><xs:element name="code_proprietaire"><xs:annotation><xs:documentation>Identification du porteur de risque ou de son
						délégataire
					</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="8"/><xs:maxLength value="10"/></xs:restriction></xs:simpleType></xs:element><xs:element minOccurs="0" name="code_gestionnaire"><xs:annotation><xs:documentation>Il s’agit de l’identification de l’opérateur
						technique portant le service. Cette information est utile au
						demandeur pour tracer
						et organiser l’appel des services.
					</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:maxLength value="14"/></xs:restriction></xs:simpleType></xs:element><xs:element minOccurs="0" name="num_accreditation"><xs:annotation><xs:documentation>
						Numero d'accreditation/engagement restitué lors
						d'un precedent appel
					</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:maxLength value="16"/></xs:restriction></xs:simpleType></xs:element><xs:element minOccurs="0" name="num_otp"><xs:annotation><xs:documentation>Numéro OTP : One Time Password </xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:maxLength value="8"/></xs:restriction></xs:simpleType></xs:element></xs:sequence></xs:complexType><xs:complexType name="type_header_in"><xs:annotation><xs:documentation>entete de la requete</xs:documentation></xs:annotation><xs:sequence><xs:element name="header_technique_in" type="type_header_tech_in"/><xs:element name="header_fonctionnel_in" type="type_header_fonctionnel_in"/></xs:sequence></xs:complexType><xs:complexType name="carteDematerialiseeType"><xs:annotation><xs:documentation>Contenu de la requete Carte Dematerialisee
			</xs:documentation></xs:annotation><xs:sequence><xs:element name="numeroAMC"><xs:annotation><xs:documentation>Code unique inscrit sur les attestations de
							droits delivrées aux assures
					</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="10"/></xs:restriction></xs:simpleType></xs:element><xs:element minOccurs="0" name="nomAMC"><xs:annotation><xs:documentation>Nom AMC</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="45"/></xs:restriction></xs:simpleType></xs:element><xs:element name="dateReference" type="xs:date"><xs:annotation><xs:documentation>Date pour laquelle la carte dématérialiée est
							demandée
					</xs:documentation></xs:annotation></xs:element><xs:element name="numeroContrat"><xs:annotation><xs:documentation>Identifiant du contrat individuel ou de
							l'adhesion individuelle au contrat collectif
					</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="20"/></xs:restriction></xs:simpleType></xs:element></xs:sequence></xs:complexType><xs:element name="carteDematerialiseeV2Response"><xs:complexType><xs:sequence><xs:element name="header_out" type="type_header_out"/><xs:element minOccurs="0" name="code_response" type="code_reponse"/><xs:element minOccurs="0" name="cartes" type="cartesV2"/><xs:element minOccurs="0" name="commentaires" type="commentaires"><xs:annotation><xs:documentation>Information à destination de l'utilisateur final
						</xs:documentation></xs:annotation></xs:element></xs:sequence></xs:complexType></xs:element><xs:complexType name="cartesV2"><xs:sequence><xs:element maxOccurs="unbounded" name="carte" type="carteDematerialiseeV2ResponseType"/></xs:sequence></xs:complexType><xs:complexType name="code_reponse"><xs:sequence><xs:element minOccurs="0" name="code"><xs:annotation><xs:documentation>Code réponse :
						code 0 : OK
						de 1 à 999 : plage erreur technique
						au delà de 1000 : plage erreur fonctionnelle
					</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:maxLength value="10"/></xs:restriction></xs:simpleType></xs:element><xs:element minOccurs="0" name="libelle"><xs:annotation><xs:documentation>Libellé en cas d'erreur</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:maxLength value="150"/></xs:restriction></xs:simpleType></xs:element><xs:element maxOccurs="unbounded" minOccurs="0" name="detail_erreur"><xs:annotation><xs:documentation>Complément erreurs</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:maxLength value="150"/></xs:restriction></xs:simpleType></xs:element></xs:sequence></xs:complexType><xs:complexType name="commentaires"><xs:sequence><xs:element maxOccurs="10" minOccurs="0" name="commentaire"><xs:annotation><xs:documentation>Information à destination de l'utilisateur final
					</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:maxLength value="250"/></xs:restriction></xs:simpleType></xs:element></xs:sequence></xs:complexType><xs:complexType name="carteDematerialiseeV2ResponseType"><xs:sequence><xs:element name="contrat" type="type_contratV2"/><xs:element minOccurs="0" name="adresse_contrat" type="type_adresse_contrat"/><xs:element name="domaines" type="domaines"/><xs:element name="beneficiaires" type="beneficiaires"/></xs:sequence></xs:complexType><xs:complexType name="domaines"><xs:sequence><xs:element maxOccurs="unbounded" name="domaine" type="type_domaine_droits"/></xs:sequence></xs:complexType><xs:complexType name="beneficiaires"><xs:sequence><xs:element maxOccurs="unbounded" name="beneficiaire" type="type_beneficiaire"/></xs:sequence></xs:complexType><xs:complexType name="type_contratV2"><xs:annotation><xs:documentation>Proprietes du contrat V2</xs:documentation></xs:annotation><xs:complexContent><xs:extension base="type_contrat"><xs:sequence><xs:element minOccurs="0" name="annexe1Carte" type="xs:string"><xs:annotation><xs:documentation>Annexe 1
							</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="annexe2Carte" type="xs:string"><xs:annotation><xs:documentation>Annexe 2
							</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="fondCarte" type="xs:string"><xs:annotation><xs:documentation>Fond carte
							</xs:documentation></xs:annotation></xs:element></xs:sequence></xs:extension></xs:complexContent></xs:complexType><xs:complexType name="type_contrat"><xs:annotation><xs:documentation>Proprietes du contrat</xs:documentation></xs:annotation><xs:sequence><xs:element name="numeroAMC"><xs:annotation><xs:documentation>Numero AMC
					</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="10"/></xs:restriction></xs:simpleType></xs:element><xs:element name="nomAMC"><xs:annotation><xs:documentation>Nom AMC</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="45"/></xs:restriction></xs:simpleType></xs:element><xs:element minOccurs="0" name="libelleAMC"><xs:annotation><xs:documentation>Nom ou raison sociale du déclarant
					</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="45"/></xs:restriction></xs:simpleType></xs:element><xs:element name="debutPeriode" type="xs:date"><xs:annotation><xs:documentation>Debut periode carte
					</xs:documentation></xs:annotation></xs:element><xs:element name="finPeriode" type="xs:date"><xs:annotation><xs:documentation>Fin periode carte
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="numeroAMCEchanges"><xs:annotation><xs:documentation>Renseigné lorsque l'AMC est identifiée par ce
						numero dans les échanges entre AMC et opérateur
					</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="10"/></xs:restriction></xs:simpleType></xs:element><xs:element minOccurs="0" name="numeroOperateur"><xs:annotation><xs:documentation>Numero de l'operateur de Tiers payant
					</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="10"/></xs:restriction></xs:simpleType></xs:element><xs:element name="numero"><xs:annotation><xs:documentation>Numero du contrat
					</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="20"/></xs:restriction></xs:simpleType></xs:element><xs:element name="numeroAdherent"><xs:annotation><xs:documentation>Numero adherent AMC
					</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="8"/></xs:restriction></xs:simpleType></xs:element><xs:element minOccurs="0" name="numeroAdherentComplet"><xs:annotation><xs:documentation>Numero adherent lorsque le numero sur 8
						caracteres ne permet pas une identification unique dans une AMC
					</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="15"/></xs:restriction></xs:simpleType></xs:element><xs:element minOccurs="0" name="numeroExterneContratIndividuel"><xs:annotation><xs:documentation>Numero contrat individuel ou de l'adhesion
						individuelle au contrat collectif sur un ancien Back Office
					</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="20"/></xs:restriction></xs:simpleType></xs:element><xs:element minOccurs="0" name="numeroContratCollectif"><xs:annotation><xs:documentation>Numero du contrat collectif associé à l'adhesion
						individuelle
					</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="20"/></xs:restriction></xs:simpleType></xs:element><xs:element minOccurs="0" name="numeroExterneContratCollectif"><xs:annotation><xs:documentation>Reference du contrat collectif sur un ancien Back
						Office
					</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="20"/></xs:restriction></xs:simpleType></xs:element><xs:element minOccurs="0" name="editeurCarte"><xs:annotation><xs:documentation>Renseigné si l'AMC a délégué l'edition de la
						carte à un operateur externe
					</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="2"/></xs:restriction></xs:simpleType></xs:element><xs:element minOccurs="0" name="gestionnaire"><xs:annotation><xs:documentation>Gestionnaire de contrat
					</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="10"/></xs:restriction></xs:simpleType></xs:element><xs:element minOccurs="0" name="groupeAssures"><xs:annotation><xs:documentation>Groupe d'assurés souscripteur du contrat
					</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="20"/></xs:restriction></xs:simpleType></xs:element><xs:element minOccurs="0" name="typeConvention"><xs:annotation><xs:documentation>Si la valeur est commune à l'ensemble des
						domaines de droits couverts
					</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="2"/></xs:restriction></xs:simpleType></xs:element><xs:element minOccurs="0" name="critereSecondaireDetaille"><xs:annotation><xs:documentation>Segmentation de la population d'une AMC par type
						d'offres de services
					</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="15"/></xs:restriction></xs:simpleType></xs:element><xs:element minOccurs="0" name="critereSecondaire"><xs:annotation><xs:documentation>Segmentation de la population d'une AMC par type
						d'offres de services. Contient le CSR
					</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="3"/></xs:restriction></xs:simpleType></xs:element><xs:element minOccurs="0" name="nomPorteur"><xs:annotation><xs:documentation>Nom du souscripteur du contrat
					</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="50"/></xs:restriction></xs:simpleType></xs:element><xs:element minOccurs="0" name="prenomPorteur"><xs:annotation><xs:documentation>Prenom du souscripteur du contrat
					</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="25"/></xs:restriction></xs:simpleType></xs:element><xs:element minOccurs="0" name="civilitePorteur"><xs:annotation><xs:documentation>Civilite du souscripteur du contrat
					</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="15"/></xs:restriction></xs:simpleType></xs:element><xs:element minOccurs="0" name="dateSouscription" type="xs:date"><xs:annotation><xs:documentation>Date de souscription au contrat du beneficiare de
						qualite "A"
					</xs:documentation></xs:annotation></xs:element><xs:element name="qualification"><xs:annotation><xs:documentation>Qualification du contrat B/S/C
					</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="1"/></xs:restriction></xs:simpleType></xs:element><xs:element minOccurs="0" name="isContratResponsable" type="xs:boolean"><xs:annotation><xs:documentation>Contrat Responsable
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="isContratCMU" type="xs:boolean"><xs:annotation><xs:documentation>Contrat CMU
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="situationParticuliere"><xs:annotation><xs:documentation>Situation particuliere
					</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="1"/></xs:restriction></xs:simpleType></xs:element></xs:sequence></xs:complexType><xs:complexType name="type_adresse_contrat"><xs:annotation><xs:documentation>Adresse contrat</xs:documentation></xs:annotation><xs:sequence><xs:element name="typeAdresse"><xs:annotation><xs:documentation>"GE" (Adresse du gestionnaire du contrat)
					</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="2"/></xs:restriction></xs:simpleType></xs:element><xs:element name="ligne1"><xs:annotation><xs:documentation>Identification du destinataire</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="50"/></xs:restriction></xs:simpleType></xs:element><xs:element minOccurs="0" name="ligne2"><xs:annotation><xs:documentation>Complément d'identification du destinataire
					</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="50"/></xs:restriction></xs:simpleType></xs:element><xs:element minOccurs="0" name="ligne3"><xs:annotation><xs:documentation>Complément d'identification du point géographique
					</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="50"/></xs:restriction></xs:simpleType></xs:element><xs:element name="ligne4"><xs:annotation><xs:documentation>Numero et libelle de la voie</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="50"/></xs:restriction></xs:simpleType></xs:element><xs:element minOccurs="0" name="ligne5"><xs:annotation><xs:documentation>Lieu-dit ou service particulier de distribution
					</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="50"/></xs:restriction></xs:simpleType></xs:element><xs:element name="ligne6"><xs:annotation><xs:documentation>Code postal et localite de destination
					</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="50"/></xs:restriction></xs:simpleType></xs:element><xs:element minOccurs="0" name="ligne7"><xs:annotation><xs:documentation>Pays</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="50"/></xs:restriction></xs:simpleType></xs:element><xs:element minOccurs="0" name="codePostal"><xs:annotation><xs:documentation>Code postal
					</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="10"/></xs:restriction></xs:simpleType></xs:element><xs:element minOccurs="0" name="telephone"><xs:annotation><xs:documentation>Telephone
					</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="50"/></xs:restriction></xs:simpleType></xs:element><xs:element minOccurs="0" name="email"><xs:annotation><xs:documentation>Adresse mail
					</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="50"/></xs:restriction></xs:simpleType></xs:element></xs:sequence></xs:complexType><xs:complexType name="type_domaine_droits"><xs:annotation><xs:documentation>Domaine de droits couvert pour le contrat
			</xs:documentation></xs:annotation><xs:sequence><xs:element name="codeDomaine"><xs:annotation><xs:documentation>Code du domaine de droits</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="5"/></xs:restriction></xs:simpleType></xs:element><xs:element minOccurs="0" name="conventions" type="conventions"/></xs:sequence></xs:complexType><xs:complexType name="conventions"><xs:sequence><xs:element maxOccurs="5" minOccurs="0" name="convention" type="type_convention_domaine"/></xs:sequence></xs:complexType><xs:complexType name="type_convention_domaine"><xs:annotation><xs:documentation>Type de convention par domaine couvert
			</xs:documentation></xs:annotation><xs:sequence><xs:element minOccurs="0" name="typeConventionnement"><xs:annotation><xs:documentation>Type de conventionnement
					</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="2"/></xs:restriction></xs:simpleType></xs:element><xs:element minOccurs="0" name="prioriteConventionnement"><xs:annotation><xs:documentation>Priorite de conventionnement
					</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="2"/></xs:restriction></xs:simpleType></xs:element></xs:sequence></xs:complexType><xs:complexType name="type_beneficiaire"><xs:annotation><xs:documentation>Proprietes du beneficiaire</xs:documentation></xs:annotation><xs:sequence><xs:element name="nomBeneficiaire"><xs:annotation><xs:documentation>Nom du beneficiaire
					</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="25"/></xs:restriction></xs:simpleType></xs:element><xs:element minOccurs="0" name="nomPatronymique"><xs:annotation><xs:documentation>Nom patronymique
					</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="25"/></xs:restriction></xs:simpleType></xs:element><xs:element minOccurs="0" name="nomMarital"><xs:annotation><xs:documentation>Nom marital
					</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="25"/></xs:restriction></xs:simpleType></xs:element><xs:element name="prenom"><xs:annotation><xs:documentation>Prenom du beneficiaire
					</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="15"/></xs:restriction></xs:simpleType></xs:element><xs:element name="qualite"><xs:annotation><xs:documentation>Qualité bénéficiaire
					</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="1"/></xs:restriction></xs:simpleType></xs:element><xs:element minOccurs="0" name="typeAssure"><xs:annotation><xs:documentation>Libelle detaille correspondant à la qualite du
						beneficiaire
					</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="10"/></xs:restriction></xs:simpleType></xs:element><xs:element minOccurs="0" name="lienFamilial"><xs:annotation><xs:documentation>Lien familial du beneficiare dans le contrat
					</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="1"/></xs:restriction></xs:simpleType></xs:element><xs:element minOccurs="0" name="rangAdministratif"><xs:annotation><xs:documentation>Rang administratif du beneficiare dans le contrat
					</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="2"/></xs:restriction></xs:simpleType></xs:element><xs:element name="nirOd1"><xs:annotation><xs:documentation>NIR ouvrant-droit 1
					</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="13"/></xs:restriction></xs:simpleType></xs:element><xs:element name="cleNirOd1"><xs:annotation><xs:documentation>Cle du NIR OD1
					</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="2"/></xs:restriction></xs:simpleType></xs:element><xs:element minOccurs="0" name="nirOd2"><xs:annotation><xs:documentation>NIR ouvrant-droit 2
					</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="13"/></xs:restriction></xs:simpleType></xs:element><xs:element minOccurs="0" name="cleNirOd2"><xs:annotation><xs:documentation>Cle du NIR OD2
					</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="2"/></xs:restriction></xs:simpleType></xs:element><xs:element minOccurs="0" name="nirBeneficiaire"><xs:annotation><xs:documentation>NIR Beneficiaire certifie RNIAM
					</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="13"/></xs:restriction></xs:simpleType></xs:element><xs:element minOccurs="0" name="cleNirBeneficiaire"><xs:annotation><xs:documentation>Cle du NIR Beneficiaire
					</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="2"/></xs:restriction></xs:simpleType></xs:element><xs:element name="dateNaissance"><xs:annotation><xs:documentation>Date de naissance du beneficiaire
					</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="8"/></xs:restriction></xs:simpleType></xs:element><xs:element name="rangNaissance"><xs:annotation><xs:documentation>Rang de naissance beneficiaire
					</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="1"/></xs:restriction></xs:simpleType></xs:element><xs:element minOccurs="0" name="numeroPersonne"><xs:annotation><xs:documentation>Numero de personne du beneficiaire
					</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="15"/></xs:restriction></xs:simpleType></xs:element><xs:element minOccurs="0" name="refExternePersonne"><xs:annotation><xs:documentation>Identifification du beneficiaire exposé en
						externe
					</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="30"/></xs:restriction></xs:simpleType></xs:element><xs:element minOccurs="0" name="regimeOD1"><xs:annotation><xs:documentation>Régime d'affiliation de l'ouvrant-droit 1
					</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="2"/></xs:restriction></xs:simpleType></xs:element><xs:element minOccurs="0" name="caisseOD1"><xs:annotation><xs:documentation>caisse d'affiliation de l'ouvrant-droit 1
					</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="3"/></xs:restriction></xs:simpleType></xs:element><xs:element minOccurs="0" name="centreOD1"><xs:annotation><xs:documentation>centre d'affiliation de l'ouvrant-droit 1
					</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="4"/></xs:restriction></xs:simpleType></xs:element><xs:element minOccurs="0" name="regimeOD2"><xs:annotation><xs:documentation>Régime d'affiliation de l'ouvrant-droit 2
					</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="2"/></xs:restriction></xs:simpleType></xs:element><xs:element minOccurs="0" name="caisseOD2"><xs:annotation><xs:documentation>caisse d'affiliation de l'ouvrant-droit 2
					</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="3"/></xs:restriction></xs:simpleType></xs:element><xs:element minOccurs="0" name="centreOD2"><xs:annotation><xs:documentation>centre d'affiliation de l'ouvrant-droit 2
					</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="4"/></xs:restriction></xs:simpleType></xs:element><xs:element minOccurs="0" name="hasMedecinTraitant" type="xs:boolean"><xs:annotation><xs:documentation>indicateur "1" si presence d'un medecin traitant,
						"0" sinon
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="regimeParticulier"><xs:annotation><xs:documentation>Affiliation à un regime particulier
					</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="2"/></xs:restriction></xs:simpleType></xs:element><xs:element minOccurs="0" name="isBeneficiaireACS" type="xs:boolean"><xs:annotation><xs:documentation>"1" si beneficiaire de l'aide à l'acquisition
						d'une complementaire sante,"0" sinon
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="isTeleTransmission" type="xs:boolean"><xs:annotation><xs:documentation>indicateur "1" si teletransmission, "0" sinon
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="debutAffiliation" type="xs:date"><xs:annotation><xs:documentation>Debut d'affiliation RO
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="modePaiementPrestations"><xs:annotation><xs:documentation>Mode de paiement prestations
					</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="2"/></xs:restriction></xs:simpleType></xs:element><xs:element name="couvertures" type="couvertures"/></xs:sequence></xs:complexType><xs:complexType name="couvertures"><xs:sequence><xs:element maxOccurs="unbounded" name="couverture" type="type_beneficiaire_couverture"/></xs:sequence></xs:complexType><xs:complexType name="type_beneficiaire_couverture"><xs:annotation><xs:documentation>Resultat de la consolidation des garanties et des
				taux de couverture</xs:documentation></xs:annotation><xs:sequence><xs:element name="codeDomaine"><xs:annotation><xs:documentation>Code du domaine de droits
					</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="5"/></xs:restriction></xs:simpleType></xs:element><xs:element name="tauxRemboursement"><xs:annotation><xs:documentation>Taux de couverture pour le domaine
					</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="15"/></xs:restriction></xs:simpleType></xs:element><xs:element name="uniteTauxRemboursement"><xs:annotation><xs:documentation>Unite du taux de couverture pour le domaine
					</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="2"/></xs:restriction></xs:simpleType></xs:element><xs:element name="periodeDebut" type="xs:date"><xs:annotation><xs:documentation>Date de debut des droits
					</xs:documentation></xs:annotation></xs:element><xs:element name="periodeFin" type="xs:date"><xs:annotation><xs:documentation>Date de fin des droits
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="codeExterneProduit"><xs:annotation><xs:documentation>Reference externe du produit
					</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="30"/></xs:restriction></xs:simpleType></xs:element><xs:element minOccurs="0" name="codeOptionMutualiste"><xs:annotation><xs:documentation>Option mutualiste
					</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="15"/></xs:restriction></xs:simpleType></xs:element><xs:element minOccurs="0" name="libelleOptionMutualiste"><xs:annotation><xs:documentation>Libelle option
					</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="25"/></xs:restriction></xs:simpleType></xs:element><xs:element minOccurs="0" name="codeProduit"><xs:annotation><xs:documentation>Identifiant technique du produit commercialise
						attribué dans le referentiel de parametrage de l'AMC
					</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="15"/></xs:restriction></xs:simpleType></xs:element><xs:element minOccurs="0" name="libelleProduit"><xs:annotation><xs:documentation>Nom du produit commercialise
					</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="25"/></xs:restriction></xs:simpleType></xs:element><xs:element name="codeGarantie"><xs:annotation><xs:documentation>Identifiant technique de la garantie qui couvre
						les prestations pour le produit commercialise
					</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="15"/></xs:restriction></xs:simpleType></xs:element><xs:element minOccurs="0" name="libelleGarantie"><xs:annotation><xs:documentation>Nom de la garantie
					</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="25"/></xs:restriction></xs:simpleType></xs:element><xs:element name="prioriteDroits"><xs:annotation><xs:documentation>Ordre de priorite de la garantie
					</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="2"/></xs:restriction></xs:simpleType></xs:element><xs:element minOccurs="0" name="origineDroits"><xs:annotation><xs:documentation>Back-office origine des droits lorsque l'AMC a
						plusieurs BO
					</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="1"/></xs:restriction></xs:simpleType></xs:element><xs:element minOccurs="0" name="dateAdhesionCouverture" type="xs:date"><xs:annotation><xs:documentation>Date d'adhesion à la couverture
					</xs:documentation></xs:annotation></xs:element><xs:element minOccurs="0" name="libelleCodeRenvoi"><xs:annotation><xs:documentation>Libelle du code renvoi
					</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="50"/></xs:restriction></xs:simpleType></xs:element><xs:element name="categorieDomaine"><xs:annotation><xs:documentation>Qualification du domaine
					</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:maxLength value="15"/></xs:restriction></xs:simpleType></xs:element><xs:element name="prestations" type="prestations"/></xs:sequence></xs:complexType><xs:complexType name="prestations"><xs:sequence><xs:element maxOccurs="unbounded" name="prestation" type="type_prestation"/></xs:sequence></xs:complexType><xs:complexType name="type_prestation"><xs:annotation><xs:documentation>Resultat de la consolidation des gararnties et des taux de couverture
			</xs:documentation></xs:annotation><xs:sequence><xs:element name="codePrestations"><xs:annotation><xs:documentation>Code prestations
					</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:maxLength value="5"/></xs:restriction></xs:simpleType></xs:element><xs:element name="codeFormule"><xs:annotation><xs:documentation>Formule de remboursement de la prestation
					</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:maxLength value="3"/></xs:restriction></xs:simpleType></xs:element><xs:element minOccurs="0" name="parametresFormule" type="parametresFormule"/></xs:sequence></xs:complexType><xs:complexType name="parametresFormule"><xs:sequence><xs:element maxOccurs="10" minOccurs="0" name="parametreFormule" type="type_parametre_formule"/></xs:sequence></xs:complexType><xs:complexType name="type_parametre_formule"><xs:annotation><xs:documentation>Formule de prestations
			</xs:documentation></xs:annotation><xs:sequence><xs:element name="numeroParametres"><xs:annotation><xs:documentation>Numero de parametre
					</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:maxLength value="3"/></xs:restriction></xs:simpleType></xs:element><xs:element name="valeurParametres"><xs:annotation><xs:documentation>Valeur du parametre
					</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:maxLength value="6"/></xs:restriction></xs:simpleType></xs:element></xs:sequence></xs:complexType><xs:element name="header_out" type="type_header_out"/><xs:complexType name="type_header_tech_out"><xs:annotation><xs:documentation>entete technique de la requete</xs:documentation></xs:annotation><xs:sequence><xs:element name="id_serveur"><xs:annotation><xs:documentation>Numero du serveur - delivré par le serveur
					</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:maxLength value="14"/></xs:restriction></xs:simpleType></xs:element><xs:element name="date" type="xs:dateTime"><xs:annotation><xs:documentation>timestamp</xs:documentation></xs:annotation></xs:element><xs:element name="id_session_serveur"><xs:annotation><xs:documentation>Identifiant délivré par le serveur et pouvant
						etre réutilisé par le client dans la meme session d'échange
					</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:maxLength value="36"/></xs:restriction></xs:simpleType></xs:element><xs:element minOccurs="0" name="id_session_client"><xs:annotation><xs:documentation>Numero séquentiel de la demande. Ce numero permet
						d'identifier le flux technique et de détecter les doublons. Il est
						attribué par l'émetteur
					</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:maxLength value="36"/></xs:restriction></xs:simpleType></xs:element><xs:element name="version_serveur"><xs:annotation><xs:documentation>version du serveur</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:maxLength value="15"/></xs:restriction></xs:simpleType></xs:element></xs:sequence></xs:complexType><xs:complexType name="type_header_fonctionnel_out"><xs:annotation><xs:documentation>entete fonctionnelle</xs:documentation></xs:annotation><xs:sequence><xs:element minOccurs="0" name="num_accreditation"><xs:annotation><xs:documentation>
						Numero d'accréditation/engagement
					</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:maxLength value="16"/></xs:restriction></xs:simpleType></xs:element><xs:element minOccurs="0" name="idDossier_client"><xs:annotation><xs:documentation>Identifiant technique du dossier patient, fourni
						par le provider
					</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:maxLength value="36"/></xs:restriction></xs:simpleType></xs:element><xs:element minOccurs="0" name="idDossier_serveur"><xs:annotation><xs:documentation>Identifiant de dossier ouvert coté serveur -
						utilise pour la persistance de session lors d'enchainement de
						processus metiers
					</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:maxLength value="36"/></xs:restriction></xs:simpleType></xs:element><xs:element minOccurs="0" name="num_OTP"><xs:annotation><xs:documentation>Numéro OTP</xs:documentation></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:maxLength value="8"/></xs:restriction></xs:simpleType></xs:element></xs:sequence></xs:complexType><xs:complexType name="type_header_out"><xs:annotation><xs:documentation>entete de la requete</xs:documentation></xs:annotation><xs:sequence><xs:element name="header_technique_out" type="type_header_tech_out"/><xs:element name="header_fonctionnel_out" type="type_header_fonctionnel_out"/></xs:sequence></xs:complexType></xs:schema>
  </wsdl:types>
  <wsdl:message name="carteDematerialiseeV2Request">
    <wsdl:part element="tns:carteDematerialiseeV2Request" name="carteDematerialiseeV2Request">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="carteDematerialiseeV2Response">
    <wsdl:part element="tns:carteDematerialiseeV2Response" name="carteDematerialiseeV2Response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="carteDematerialiseeV2">
    <wsdl:operation name="carteDematerialiseeV2">
      <wsdl:input message="tns:carteDematerialiseeV2Request" name="carteDematerialiseeV2Request">
    </wsdl:input>
      <wsdl:output message="tns:carteDematerialiseeV2Response" name="carteDematerialiseeV2Response">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="carteDematerialiseeV2Soap11" type="tns:carteDematerialiseeV2">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="carteDematerialiseeV2">
      <soap:operation soapAction=""/>
      <wsdl:input name="carteDematerialiseeV2Request">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="carteDematerialiseeV2Response">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="/services/carteDematerialiseeV2">
    <wsdl:port binding="tns:carteDematerialiseeV2Soap11" name="carteDematerialiseeV2Soap11">
      <soap:address location="http://localhost:8080/services/carteDematerialiseeV2"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>